/* Colors */
:root {
    //Primary
    --color-cyan: hsl(193, 38%, 86%);
    --color-neon-green: hsl(150, 100%, 66%);

    //Primary Font
    --color-grayish-blue: hsl(217, 19%, 38%);
    --color-dark-grayishblue: hsl(217, 19%, 24%);
    --color-dark-blue: hsl(218, 23%, 16%);

    //Button hover
    --color-euca-light: #B3FFE2;
   

    --color-white: hsla(360, 100%, 100%, 1);
  }